.grid2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 475px;
  gap: 0px;
  padding: 10px;
  min-width: 520px;
  max-width: 1920px;
  margin: 0 auto;
}

.logo-overlay {
  position: absolute;
  z-index: 10;
  width: 500px;
  top: -20px;
  background: transparent;
  left: 500px;
}


.logo-overlay img {
  width: 100%;
  background: transparent;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding: 8px;
  }

  .logo-overlay {
    width: 140px;
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    padding: 5px;
  }

  .logo-overlay {
    width: 200px;
    top: -15px;
    left: 80px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }

  .logo-overlay {
    width: 240px;
    top: -15px;
    left: 40px;
  }
}