img {
  width: 100%;
}

.container {
  display: grid;
grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  background-color: #d4ff00;
}

.action-btn > img{
    height: auto;
}

.action-btn > h2{
  background-color: #d4ff00;
  color: black; 
}

.container2{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5px;
}

.container3{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5px;
}

.container4{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5px;
}

.container5{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5px;
}

