.main {
  width: 100%;
  background-color: #000;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  max-width: 1920px;
}

.logo-overlay {
  position: absolute;
  z-index: 10;
  width: 400px;
  top: -10px;
  background: transparent;
  left: 275px;
  pointer-events: none;
}

.logo-overlay img {
  width: 100%;
  background: transparent;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media (min-width: 1025px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    width: 100%;
  }
  .main {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .my-masonry-grid {
    display: flex;
    margin-left: 0;
  }

  .my-masonry-grid_column {
    padding-left: 0;
    background-clip: padding-box;
  }
  
  .main {
    padding: 8px;
  }

  .logo-overlay {
    width: 240px;
    top: -15px;
    left: 25%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .main {
    padding: 4px;
  }

  .logo-overlay {
    width: 150px;
    top: -10px;
  }
}
