.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  
}

.grid-item img.contain {
  object-fit: fill;
}

.grid-item img {
  width: 100%;
  border: 5px solid rgb(0, 0, 0);
  height: 100%;
  object-fit: cover;
  display: block;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Tablet - 3 oszlop */
@media (max-width: 1024px) {
  .grid-item img {
    border: 4px solid rgb(0, 0, 0);
  }
}

/* Tablet kicsi - 2 oszlop */
@media (max-width: 768px) {
  .grid-item img {
    border: 3px solid rgb(0, 0, 0);
  }
}

/* Mobil - 1 oszlop */
@media (max-width: 480px) {
  .grid-item img {
    border: 2px solid rgb(0, 0, 0);
  }
}